<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>@Model.GetName()</title>
  </head>
  <body>
    <h2>@Model.GetAppointmentDay() at @Model.GetAppointmentTime()<h2>
    <p><a href="/client/edit/@Model.GetId()">Edit these details</a></p>
    <p><a href="/">Return to Main Page</a></p>
  </body>
</html>
