@{
  Layout="Shared/_Layout.cshtml";
}
<h1>Add a new client</h1>
<form action="/clients/new" method="post">
    <div class="form-group">
      <label for="client-name">Client name:</label>
      <input class="form-control" type="text" name="client-name" id="client-name">
    </div>
    <div class="form-group">
      <label for="client-appointment-day">Client appointment day:</label>
      <input class="form-control" type="text" name="client-appointment-day" id="client-appointment-day">
    </div>
    <div class="form-group">
      <label for="client-appointment-time">Client appointment time:</label>
      <input class="form-control" type="text" name="client-appointment-time" id="client-appointment-time">
    </div>
    <div class="form-group">
      <select class="form-contorl" name="stylist-id">
        @foreach(var stylist in Model)
        {
          <option value="@stylist.GetId()">@stylist.GetName()</option>
        }
      </select>
    </div>
  <button class="button" type="submit">Add new client</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/clients">View all clients</a></p>
