@{
  Layout="Shared/_Layout.cshtml";
}
<h1>@Model.GetName()</h1>
<h2>@Model.GetAppointmentDay() at @Model.GetAppointmentTime()</h2>
  <p><a href="/client/edit/@Model.GetId()">Edit these details</a></p>
  <form action="/client/delete/@Model.GetId()" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete this client</button>
  </form>
  <p><a href="/">Return to Main Page</a></p>
