<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="Content/css/bootstrap.css" type="text/css">
    <title>Deleted</title>
  </head>
  <div class="container">
    <body>
      <h3>Successfully deleted!</h3>
      <a href="/">Back home</a>
    </body>
  </div>
</html>
