@{
  Layout="Shared/_Layout.cshtml";
}
<h2>Add a Stylist</h2>
<form action="/stylists/new" method="post">
  <div class="form-group">
    <label for="stylist-name">Stylist Name</label>
    <input class="form-control" type="text" name="stylist-name" id="stylist-name">
  </div>
  <div class="form-group">
    <label for="stylist-availability">Stylist Availability(MTuWThFSaSu)</label>
    <input class="form-control" type="text" name="stylist-availability" id="stylist-availability">
  </div>
  <div class="form-group">
    <label for="stylist-services">Stylist Services</label>
    <input class="form-control" type="text" name="stylist-services" id="stylist-services">
  </div>
  <button class="button" type="submit">Add</button>
</form>
